*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.codex

# Large local dependencies/assets
app/libs/snpe-release.aar
app/src/main/assets/image_encoder.dlc
app/src/main/assets/image_encoder_quant.dlc
